@model WHGSchedulerSite.ViewModels.RegistrantsViewModel

@{
    ViewBag.Title = "Registrants";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}

<h3>Registrants for @Model.meeting.sponserName @Model.meeting.timeLabel</h3>
<a href="@Url.Action("Meetings", "ControlPanel", new { id = @Model.meeting.sponsorID })"><< Back to @Model.meeting.sponserName Meeting List</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Attendee Type</th>
            <th>Brands</th>
            <th>Title</th>
            <th>Location</th>
            <th>Bus. #</th>
            <th>Mobile #</th>
            <th>Reason</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reg in Model.registrants)
        {
            <tr>
                <td>@reg.firstname</td>
                <td>@reg.lastname</td>
                <td>@reg.email</td>
                <td>@reg.attendeetype</td>
                <td>@reg.brands</td>
                <td>@reg.title</td>
                <td>@reg.location</td>
                <td>@reg.bizphone</td>
                <td>@reg.mobilephone</td>
                <td>@reg.comments</td>
                <td><a href="@Url.Action("DeleteRegistrant", "ControlPanel", new { id = @reg.id, meetingID = @Model.meetingID })" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
